<div>
  <nav>
    <h2>MyFlix Movies</h2>
    <button mat-button color="primary" (click)="goToProfile()">Profile</button>
    <button mat-button color="primary" (click)="logout()">Log Out</button>
  </nav>
  
<div class="search-bar-container">
  <mat-form-field appearance="outline" class="search-bar-wrapper">
    <mat-icon matPrefix>search</mat-icon>
    <input
      matInput
      class="search-bar"
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="movies, directors genres"
      (keyup.enter)="onSearch()"
    />
    <button
      mat-button
      *ngIf="searchQuery"
      matSuffix
      color="primary"
      (click)="clearSearch()"
      aria-label="Clear search"
    >
      Clear
    </button>
  </mat-form-field>
</div>

<div *ngIf="filteredMovies.length > 0" class="movie-card-container">
  <mat-card *ngFor="let movie of filteredMovies;" class="movie-card">
    <img
      mat-card-image
      [src]="movie.ImageURL"
      [alt]="movie.Title"
      class="movie-image"
    />
    <mat-card-header>
      <mat-card-title>
        <span class="movie-title clickable" (click)="showMovieDetails(movie)">
          {{ movie.Title }}
        </span>
      </mat-card-title>
    </mat-card-header>    
    <mat-card-content>
      <p class="movie-director">Directed by: {{ movie.Director.Name }}</p>
      <p class="movie-genre">Genre: {{ movie.Genre.Name }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="showGenre(movie.Genre)">
        Genre
      </button>
      <button mat-raised-button color="primary" (click)="showDirector(movie.Director)">
        Director
      </button>
      <button mat-raised-button color="primary" (click)="showDescription(movie)">
        Description
      </button>
      <button mat-icon-button color="warn" aria-label="Add to favorites" (click)="modifyFavoriteMovies(movie)">
    <mat-icon>{{ movie.isFavorite ? 'favorite' : 'favorite_border' }}</mat-icon>
     </button>
    </mat-card-actions>
  </mat-card>
</div>
</div>
<div *ngIf="filteredMovies.length === 0 && searchQuery" class="no-results">
  <p>No results found for "{{ searchQuery }}".</p>
</div>
