<div class="search-bar">
  <input
    type="text"
    [(ngModel)]="searchQuery"
    placeholder="Search for movies, directors, or genres"
    (keyup)="onSearch()"
  />
</div>

<div class="movie-card-container">
  <mat-card *ngFor="let movie of movies;" class="movie-card">
    <img
      mat-card-image
      [src]="movie.ImageURL"
      [alt]="movie.Title"
      class="movie-image"
    />
    <mat-card-header>
      <mat-card-title class="movie-title">{{ movie.Title }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p class="movie-director">Directed by: {{ movie.Director.Name }}</p>
      <p class="movie-genre">Genre: {{ movie.Genre.Name }}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="goToGenre(movie.Genre)">
        Genre
      </button>
      <button mat-raised-button color="primary" (click)="goToDirector(movie.Director)">
        Director
      </button>
      <button mat-raised-button color="primary" (click)="goToDescription(movie)">
        Description
      </button>
      <button mat-icon-button color="warn" aria-label="Add to favorites">
        <mat-icon>favorite_border</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
