.main-page {
    text-align: center; 
    margin-top: 20px; 
  }
  
  .button-group {
    display: flex;
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px;
  }
  
  .custom-button {
    padding: 10px 20px; 
    font-size: 16px; 
  }
  