/* --- Navigation Bar Styling --- */
nav {
    background-color: white;
    color: #3f51b5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 3px solid tomato;
    flex-wrap: wrap;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
    h2 {
      font-size: 2rem;
      font-weight: bold;
      margin: 0;
      flex-grow: 1;
      color: #3f51b5;
      white-space: nowrap;
    }
  
    button {
      font-size: 1rem;
      color: white;
      background-color: #3f51b5;
      border: none;
      border-radius: 5px;
      padding: 8px 16px;
      margin-left: 10px;
      white-space: nowrap;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #2e3a9b;
      }
    }
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
  
      h2 {
        font-size: 1.5rem;
        margin-bottom: 10px;
      }
  
      button {
        margin-left: 0;
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
    }
  }
  
  /* --- Profile View Styling --- */
  .profile-view-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    margin-bottom: 40px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .profile-form-container form {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  mat-form-field {
    width: 100%;
  }
  
  button[type="submit"],
  button[color="warn"] {
    margin-top: 20px;
  }
  
  /* --- Divider Styling --- */
  mat-divider {
    margin: 20px 0;
    border-color: #ccc;
  }
  
  /* --- Favorite Movies Section --- */
  .favorite-movies-container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .movies-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  /* --- Individual Movie Card --- */
  .movie-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  
    img {
      width: 100%;
      height: auto;
      border-radius: 8px 8px 0 0;
    }
  
    .movie-card .movie-title {
      font-size: 28px;
      font-weight: bold;
      text-align: center;
      margin: 10px 0;
      color: #3f51b5 !important; 
    }
  
    .movie-director,
    .movie-genre {
      font-size: 16px;
      color: #555;
      margin: 5px 0;
    }
  
    .movie-description {
      font-size: 14px;
      color: #666;
      line-height: 1.4;
      margin: 10px 0;
    }
  
    .card-buttons {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      margin-top: auto;
    }
  
    mat-card-actions button {
      margin-top: 10px;
    }
  }
  

  